.cl-inp {
    display: flex;
    flex-direction: column;
    width: 100%;
    &__lbl {
        padding: 0 var(--component-padding);
        opacity: 0.7;
    }
    &__field {
        min-height: 32px;
        height: 3rem;
        border: 1px solid rgb(49, 49, 49);
        border-radius: 5px;
        padding: 0 var(--component-padding);
    }
}