.cl-btn {
    height: 3rem;
    width: 100%;
    background-color: chocolate;
    color: #FFF;
    border: unset;
    box-shadow: none;
    border-radius: 5px;
    text-align: left;
    padding: var(--component-padding);
}