:root {
    --space-unit: 1em;
    --space-xxs:  calc(0.25 * var(--space-unit));
    --space-xs:   calc(0.5 * var(--space-unit));
    --space-sm:   calc(0.75 * var(--space-unit));
    --space-md:   calc(1.25 * var(--space-unit));
    --space-lg:   calc(2 * var(--space-unit));
    --space-xl:   calc(3.25 * var(--space-unit));
    --space-xxl:  calc(5.25 * var(--space-unit));

    /* components padding */
    --component-padding: var(--space-md);
}

/* vertical margins */
.mt, .mt--md {
    margin-top: var(--space-md);
}

.mt--sm {
    margin-top: var(--space-sm);
}

.mt--lg {
    margin-top: var(--space-lg);
}

.mt--xl {
    margin-top: var(--space-xl);
}

.mt--xxl {
    margin-top: var(--space-xxl);
}

.mb, .mb--md {
    margin-bottom: var(--space-md);
}

.mb--sm {
    margin-bottom: var(--space-sm);
}

.mb--lg {
    margin-bottom: var(--space-lg);
}

.mb--xl {
    margin-bottom: var(--space-xl);
}

.mb--xxl {
    margin-bottom: var(--space-xxl);
}

.my, .my--md {
    margin-top: var(--space-md);
    margin-bottom: var(--space-md);
}