<section>
  <h1 class="mb-5">Fill the below fields.</h1>
  <form [formGroup]="personalForm" (submit)="submitPersonalData()">
    <div class="mb-3 cl-inp">
      <label class="cl-inp__lbl">First name (required)</label>
      <mat-form-field appearance="outline">
        <input
          matInput
          type="e-mail"
          formControlName="firstNameCtrl"
          placeholder="First Name"
          class="cl-inp__field1"
        />
        <mat-error
          *ngIf="personalForm.get('firstNameCtrl')?.hasError('required')"
          >Please enter first name.</mat-error
        >
      </mat-form-field>
    </div>
    <div class="mb-3 cl-inp">
      <label class="cl-inp__lbl">Second name (required)</label>
      <mat-form-field appearance="outline">
        <input
          matInput
          type="e-mail"
          formControlName="secondNameCtrl"
          placeholder="Second Name"
          class="cl-inp__field1"
        />
        <mat-error
          *ngIf="personalForm.get('secondNameCtrl')?.hasError('required')"
          >Please enter second name.</mat-error
        >
      </mat-form-field>
    </div>
    <div class="mb-5 cl-inp">
      <label class="cl-inp__lbl">Date of Birth (required)</label>
      <mat-form-field appearance="outline">
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="dobCtrl"
          placeholder="Date of Births"
          class="cl-inp__field1"
          [max]="today"
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="personalForm.get('dobCtrl')?.hasError('required')"
          >Please select date of birth</mat-error
        >
      </mat-form-field>
    </div>
    <button mat-flat-button type="submit" class="cl-btn cl-btn--full mt--xl">
      <span>CONTINUE</span><span class="material-icons"> arrow_forward </span>
    </button>
  </form>
</section>
