<form [formGroup]="imageForm">
  <h1 class="mb-5 text-center">We need an image of you.</h1>
  <div class="cl-img-preview mb-4">
    <img width="100%" [src]="imageUrl" class="cl-img-preview__img" />
  </div>
  <div class="d-flex justify-content-center">
    <span class="cl-btn cl-btn--rounded cl-btn__file" role="button">
      Upload Image<input #Image type="file" (change)="handleFileInput($event)" accept="image/png, image/gif, image/jpeg" />
    </span>
  </div>
  <button mat-flat-button type="button" (click)="submitImage()" class="cl-btn cl-btn--full mt-5">
    <span>SUBMIT</span><span class="material-icons"> arrow_forward </span>
  </button>
</form>
